@import "tailwindcss";

@keyframes entrarSuave {
  from {
    opacity: 0;
    filter: blur(1px); 
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.counter {
  padding: 16px 16px;
  border-radius: 32px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 0px;
  animation: entrarSuave 1s ease-out forwards;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.animacao-texto {
  animation: entrarSuave 1s ease-out forwards;
}

.animacao-botao {
  animation: entrarSuave 0.075s ease-out forwards;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  }

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
  }
}

#docs {
  border-right: 1px solid var(--border);

}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    background: var(--social-bg);
    display: flex;
    padding: 6px 8px;
    align-items: center;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }
}

h1 {
  margin: 0 0 0 0;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.auratext {
  margin: 0 0 0 0;
}
